doctype html
html(lang="ru")
  - title = "Тестовое задание"
  include blocks/head/head

  body
    include blocks/header/header

    main.main
      include blocks/bar/bar

    include blocks/footer-script/footer-script