header.header
  .container.container--flex
    h1.header__title Start
    .user
      p.user__name El #[span.user__name.user__name--small Majdal]
      .user__avatar
        img(src="images/user__avatar.jpg", alt="El Majdal")