.container
  section.bar
    ul.bar__list
      li.bar__column
        .bar__item.bar__item--blue
          span.bar__title Store
      li.bar__column
        .bar__item.bar__item--green
          span.bar__title Xbox LIVE Games
      li.bar__column.bar__column--large
        .bar__item.bar__item--orange
          span.bar__title People
      li.bar__column.bar__column--large
        .bar__item.bar__item--blue
          span.bar__title Weather
      li.bar__column
        .bar__item.bar__item--purple
          span.bar__title Maps
      li.bar__column
        .bar__item.bar__item--dark-blue
          span.bar__title Internet Explorer
      li.bar__column.bar__column--large
        .bar__item.bar__item--red
          span.bar__title Photos
      li.bar__column.bar__column--large
        .bar__item.bar__item--green
          span.bar__title Calendar
      li.bar__column.bar__column--large
        .bar__item.bar__item--green
          span.bar__title Mail
      li.bar__column.bar__column--large
        .bar__item.bar__item--purple
          span.bar__title Music
      li.bar__column
        .bar__item.bar__item--orange
          span.bar__title Video
      li.bar__column
        .bar__item.bar__item--blue
          span.bar__title SkyDrive